<?xml version="1.0" encoding="UTF-8"?>
<!--
 /**
 * One Pica
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to codemaster@onepica.com so we can send you a copy immediately.
 * 
 * @category    PlanetPayment
 * @package     PlanetPayment_IpayGateway
 * @copyright   Copyright (c) 2012 Planet Payment Inc. (http://www.planetpayment.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

/**
 * Planet Payment
 *
 * @category   PlanetPayment
 * @package    PlanetPayment_IpayGateway
 * @author     One Pica Codemaster <codemaster@onepica.com>
 */
 -->
<config>
    <modules>
        <PlanetPayment_IpayGateway>
            <version>1.0.7</version>
        </PlanetPayment_IpayGateway>
    </modules>
    <global>
        <currency>
            <import>
                <services>
                    <ipay>
                        <name>Planet Payment</name>
                        <model>ipay/currency_import_ipay</model>
                    </ipay>
                </services>
            </import>
        </currency>
        <models>
            <ipay>
                <class>PlanetPayment_IpayGateway_Model</class>
                <resourceModel>ipay_resource</resourceModel>
            </ipay>
            <checkout>
                <rewrite>
                    <type_onepage>PlanetPayment_IpayGateway_Model_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
            <ipay_resource>
                <class>PlanetPayment_IpayGateway_Model_Resource</class>
                <entities>
                    <paymentProfile>
                        <table>planet_payment_profile</table>
                    </paymentProfile>
                    <currencyCodes>
                        <table>planet_payment_currency_codes</table>
                    </currencyCodes>
                    <log>
                        <table>planet_payment_log</table>
                    </log>
                </entities>
            </ipay_resource>
        </models>
        <blocks>
            <adminhtml>
                <rewrite>
                    <customer_edit_tabs>PlanetPayment_IpayGateway_Block_Adminhtml_Customer_Edit_Tabs</customer_edit_tabs>
                </rewrite>
            </adminhtml>
            <ipay>
                <class>PlanetPayment_IpayGateway_Block</class>
            </ipay>
            <checkout>
                <rewrite>
                    <cart_totals>PlanetPayment_IpayGateway_Block_Checkout_cart_Totals</cart_totals>
                    <onepage>PlanetPayment_IpayGateway_Block_Onepage</onepage>
                </rewrite>
            </checkout>
            <sales>
                <rewrite>
                    <order_totals>PlanetPayment_IpayGateway_Block_Sales_Order_Totals</order_totals>
                </rewrite>
            </sales>
        </blocks>
        <helpers>
            <ipay>
                <class>PlanetPayment_IpayGateway_Helper</class>
            </ipay>
        </helpers>
        <rewrite>
            <ipay_onepage>
                <from><![CDATA[#^/checkout/onepage/#]]>
                </from>
                <to>/ipay/onepage/</to>
            </ipay_onepage>
        </rewrite>
        <resources>
            <ipay_setup>
                <setup>
                    <module>PlanetPayment_IpayGateway</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
            </ipay_setup>
        </resources>
        <fieldsets>
			<!-- Quote to Order (create) -->
            <sales_convert_quote>
                <customer_ipay_profile_id>
                    <to_order>*</to_order>
                </customer_ipay_profile_id>
            </sales_convert_quote>
            <sales_convert_quote_payment>
                <ipay_profile_id>
                    <to_order_payment>*</to_order_payment>
                </ipay_profile_id>
                <ipay_currency_code>
                    <to_order_payment>*</to_order_payment>
                </ipay_currency_code>
                <is_visible>
                    <to_order_payment>*</to_order_payment>
                </is_visible>
                <ipay_exchange_rate>
                    <to_order_payment>*</to_order_payment>
                </ipay_exchange_rate>
				<ipay_markup>
                    <to_order_payment>*</to_order_payment>
                </ipay_markup>
				<ipay_service_used>
                    <to_order_payment>*</to_order_payment>
                </ipay_service_used>
            </sales_convert_quote_payment>

	<!-- Order to Order (edit) -->
            <sales_copy_order>
                <customer_ipay_profile_id>
                    <to_edit>*</to_edit>
                </customer_ipay_profile_id>
            </sales_copy_order>

            <customer_account>
                <ipay_profile_id>
                    <to_quote>customer_ipay_profile_id</to_quote>
                </ipay_profile_id>
            </customer_account>

            <ipay_payment_paymentprofile>
                <ipay_profile_id>
                    <to_paymentprofile>*</to_paymentprofile>
                </ipay_profile_id>
                <ipay_payment_profile_id>
                    <to_paymentprofile>*</to_paymentprofile>
                </ipay_payment_profile_id>
                <cc_number>
                    <to_paymentprofile>card_number</to_paymentprofile>
                </cc_number>
                <cc_type>
                    <to_paymentprofile>card_type</to_paymentprofile>
                </cc_type>
                <cc_last4>
                    <to_paymentprofile>card_number_last4</to_paymentprofile>
                </cc_last4>
                <cc_exp_year>
                    <to_paymentprofile>expiration_year</to_paymentprofile>
                </cc_exp_year>
                <cc_exp_month>
                    <to_paymentprofile>expiration_month</to_paymentprofile>
                </cc_exp_month>
                <cc_cid>
                    <to_paymentprofile>card_code</to_paymentprofile>
                </cc_cid>
                <is_visible>
                    <to_paymentprofile>*</to_paymentprofile>
                </is_visible>
            </ipay_payment_paymentprofile>
            <ipay_paymentprofile_payment>
                <id>
                    <to_payment>ipay_profile_id</to_payment>
                </id>
		<!--card_number><to_payment>cc_num</to_payment></card_number-->
                <card_type>
                    <to_payment>cc_type</to_payment>
                </card_type>
                <card_number_last4>
                    <to_payment>cc_last4</to_payment>
                </card_number_last4>
                <expiration_year>
                    <to_payment>cc_exp_year</to_payment>
                </expiration_year>
                <expiration_month>
                    <to_payment>cc_exp_month</to_payment>
                </expiration_month>
                <card_code>
                    <to_payment>cc_cid</to_payment>
                </card_code>
                <cc_save>
                    <to_payment>*</to_payment>
                </cc_save>
            </ipay_paymentprofile_payment>
            <ipay_payment_form>
                <selected_currency>
                    <to_payment>ipay_currency_code</to_payment>    
                </selected_currency>
                <cc_type>
                    <to_payment>*</to_payment>
                </cc_type>
                <cc_number>
                    <to_payment>*</to_payment>
                </cc_number>
                <cc_exp_year>
                    <to_payment>*</to_payment>
                </cc_exp_year>
                <cc_exp_month>
                    <to_payment>*</to_payment>
                </cc_exp_month>
                <cc_id>
                    <to_payment>*</to_payment>
                </cc_id>
                
            </ipay_payment_form>
            <ipay_address_paymentprofile>
                <ipay_payment_profile_id>
                    <to_paymentprofile>*</to_paymentprofile>
                </ipay_payment_profile_id>
                <firstname>
                    <to_paymentprofile>first_name</to_paymentprofile>
                </firstname>
                <lastname>
                    <to_paymentprofile>last_name</to_paymentprofile>
                </lastname>
                <company>
                    <to_paymentprofile>*</to_paymentprofile>
                </company>
                <street>
                    <to_paymentprofile>address</to_paymentprofile>
                </street>
                <city>
                    <to_paymentprofile>*</to_paymentprofile>
                </city>
                <region_code>
                    <to_paymentprofile>state</to_paymentprofile>
                </region_code>
                <postcode>
                    <to_paymentprofile>zip</to_paymentprofile>
                </postcode>
                <country_id>
                    <to_paymentprofile>country</to_paymentprofile>
                </country_id>
                <telephone>
                    <to_paymentprofile>phone_number</to_paymentprofile>
                </telephone>
                <fax>
                    <to_paymentprofile>fax_number</to_paymentprofile>
                </fax>
            </ipay_address_paymentprofile>
            <ipay_paymentprofile_address>
                <ipay_payment_profile_id>
                    <to_address>*</to_address>
                </ipay_payment_profile_id>
                <first_name>
                    <to_address>firstname</to_address>
                </first_name>
                <last_name>
                    <to_address>lastname</to_address>
                </last_name>
                <company>
                    <to_address>*</to_address>
                </company>
                <address>
                    <to_address>street</to_address>
                </address>
                <city>
                    <to_address>*</to_address>
                </city>
                <state>
                    <to_address>region_code</to_address>
                </state>
                <zip>
                    <to_address>postcode</to_address>
                </zip>
                <country>
                    <to_address>country_id</to_address>
                </country>
                <telephone>
                    <to_address>phone_number</to_address>
                </telephone>
                <fax>
                    <to_address>fax_number</to_address>
                </fax>
            </ipay_paymentprofile_address>
            <ipay_paymentprofile_form>
                <first_name>
                    <to_paymentprofile>*</to_paymentprofile>
                </first_name>
                <last_name>
                    <to_paymentprofile>*</to_paymentprofile>
                </last_name>
                <client_id>
                    <to_paymentprofile>*</to_paymentprofile>
                </client_id>
                <account_id>
                    <to_paymentprofile>*</to_paymentprofile>
                </account_id>
                <company>
                    <to_paymentprofile>*</to_paymentprofile>
                </company>
                <phone_number>
                    <to_paymentprofile>*</to_paymentprofile>
                </phone_number>
                <fax_number>
                    <to_paymentprofile>*</to_paymentprofile>
                </fax_number>
                <address>
                    <to_paymentprofile>*</to_paymentprofile>
                </address>
                <city>
                    <to_paymentprofile>*</to_paymentprofile>
                </city>
                <state>
                    <to_paymentprofile>*</to_paymentprofile>
                </state>
                <country>
                    <to_paymentprofile>*</to_paymentprofile>
                </country>
                <zip>
                    <to_paymentprofile>*</to_paymentprofile>
                </zip>
                <card_type>
                    <to_paymentprofile>*</to_paymentprofile>
                </card_type>
                <card_number>
                    <to_paymentprofile>*</to_paymentprofile>
                </card_number>
                <expiration_year>
                    <to_paymentprofile>*</to_paymentprofile>
                </expiration_year>
                <expiration_month>
                    <to_paymentprofile>*</to_paymentprofile>
                </expiration_month>
                <card_code>
                    <to_paymentprofile>*</to_paymentprofile>
                </card_code>
            </ipay_paymentprofile_form>
            <ipay_paymentprofile_savecc_payment>
                <cc_type>
                    <to_paymentprofile>card_type</to_paymentprofile>
                </cc_type>
                <cc_number>
                    <to_paymentprofile>card_number</to_paymentprofile>
                </cc_number>
                <cc_exp_year>
                    <to_paymentprofile>expiration_year</to_paymentprofile>
                </cc_exp_year>
                <cc_exp_month>
                    <to_paymentprofile>expiration_month</to_paymentprofile>
                </cc_exp_month>
                <cc_cid>
                    <to_paymentprofile>card_code</to_paymentprofile>
                </cc_cid>
            </ipay_paymentprofile_savecc_payment>
            <ipay_paymentprofile_savecc_address>
                <firstname>
                    <to_paymentprofile>first_name</to_paymentprofile>
                </firstname>
                <lastname>
                    <to_paymentprofile>last_name</to_paymentprofile>
                </lastname>
                <company>
                    <to_paymentprofile>*</to_paymentprofile>
                </company>
                <telephone>
                    <to_paymentprofile>phone_number</to_paymentprofile>
                </telephone>
                <fax_number>
                    <to_paymentprofile>*</to_paymentprofile>
                </fax_number>
                <street>
                    <to_paymentprofile>street_address</to_paymentprofile>
                </street>
                <city>
                    <to_paymentprofile>*</to_paymentprofile>
                </city>
                <state>
                    <to_paymentprofile>*</to_paymentprofile>
                </state>
                <country_id>
                    <to_paymentprofile>country</to_paymentprofile>
                </country_id>
                <postcode>
                    <to_paymentprofile>zip</to_paymentprofile>
                </postcode>
            </ipay_paymentprofile_savecc_address>
        </fieldsets>
        <events>
            <sales_order_place_before>
                <observers>
                    <ipay_order_payment_place_after>
                        <class>ipay/observer_checkout</class>
                        <method>placeOrderAfter</method>
                        <type>singleton</type>
                    </ipay_order_payment_place_after>
                </observers>
            </sales_order_place_before>
        </events>
		<template>
			<email>
				<sales_email_order_template translate="label" module="sales">
					<label>New Order</label>
					<file>sales/ipay/order_new.html</file>
					<type>html</type>
				</sales_email_order_template>
				<sales_email_order_guest_template translate="label" module="sales">
					<label>New Order for Guest</label>
					<file>sales/ipay/order_new_guest.html</file>
					<type>html</type>
				</sales_email_order_guest_template>
			</email>
		</template>
    </global>
    <frontend>
        <layout>
            <updates>
                <ipay>
                    <file>ipay.xml</file>
                </ipay>
            </updates>
        </layout>
        <routers>
            <ipay>
                <use>standard</use>
                <args>
                    <module>PlanetPayment_IpayGateway</module>
                    <frontName>ipay</frontName>
                </args>
            </ipay>
        </routers>
        <secure_url>
            <uspslabel_order>/ipay/customer/</uspslabel_order>
        </secure_url>
    </frontend>
    <crontab>
        <jobs>
            <ipay_log_clean>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ipay/observer_log::cleanLog</model>
                </run>
            </ipay_log_clean>
        </jobs>
    </crontab>	
    <admin>
        <routers>
            <ipayadmin>
                <use>admin</use>
                <args>
                    <module>PlanetPayment_IpayGateway</module>
                    <frontName>ipayadmin</frontName>
                </args>
            </ipayadmin>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <ipay>
                    <file>ipay.xml</file>
                </ipay>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <payment>
            <ipay>
                <active>1</active>
                <model>ipay/ipay</model>
                <title>Credit Card (Planet Payment)</title>
                <payment_action>authorize</payment_action>
                <order_status>processing</order_status>
                <currency>USD</currency>
                <accepted_currencies>USD</accepted_currencies>
                <service>pyc</service>
                <cctypes>AE,VI,MC,DI,DIN,JCB</cctypes>
                <tokenize>0</tokenize>
                <logging>1</logging>
                <validation_mode>none</validation_mode>
                <debug>0</debug>                
            </ipay>
        </payment>
        <planet_payment>
            <ipay_general>
                <url>production</url>
                <encryption>0</encryption>
            </ipay_general>
            <ipay_logging>
                <mode>1</mode>
                <lifetime>14</lifetime>
            </ipay_logging>
        </planet_payment>
        <currency>
            <ipay>
                <logging>1</logging>
            </ipay>
        </currency>
    </default>
</config>